[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/IMAGE_UPLOADER
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/IMAGE_UPLOADER/Image_Uploader/Image_Uploader.sock Image_Uploader.wsgi:application

       
[Install]
WantedBy=multi-user.target